body {
  height: 100%;
  font-family: 'Roboto', sans-serif; 
  color: #fff;
  background-image: url(../img/bgc.png)
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
.wrapper {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}
.page {
  min-height: 100%;
  max-height: 960px;
}
.main-screen {
  background-image: url(../img/mainbg.png);
  width: 100%;
  height: 960px ;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  position: relative;
}
.container {
  max-width: 1326px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 30;
  margin: 0 auto ;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin: 38px 80px 0 80px;
}
.header-logo {
    margin-right: 220px;
}



/* margin logo */
@media (max-width:1600px) {
    .header-logo {
        margin: 0;
    }
}
.menu-list {
    display: flex;
    list-style-type: none;
}
.menu-list a {
  transition: all .4s ease;
}
.menu-list a:hover {
  font-size: 18px;
  border: 4px solid #C89AFC;
  background-color: #C89AFC;
  transition: all .4s ease;
  border-radius: 50px;
  padding-right: 30px;
}
.menu-link {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 0 28px 0 28px;
}
.header-login button {
  font-size: 16px;
  border-radius: 50px;
  background-color: #C89AFC;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  line-height: 150%;
  transition: all 1s ease;
}
.header-login button:hover {
  padding-right: 20px;
  transition: all 1s ease;
  font-size: 18px;
  border-radius: 50px;
  background-color: #7C6AFA;
}



/* Burger menu */
@media (max-width:1250px) {
  body.js {
     overflow: hidden;
  }
  .header-logo {
      display: none;
  }
  .header-row {
      margin: 20px 20px 0 0;
  }
  .menu-body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(40, 39, 44, 0.952);
    top: -100%;
    transition: top 0.8s ease;
  }
  .menu-body.js {
    top: 0;

  }
  .menu-list {
    padding: 0;
    font-size: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-link { 
    font-size: 35px;
    line-height: 200%;
  }

  .icon-menu{
    position: absolute;
    left: 20px;
    top: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 5;
    }
  .icon-menu span, .icon-menu span:before, .icon-menu span:after{
    width: 100%;
    position: absolute;
    height: 10px;
    background: rgb(255, 255, 255);
    display: block;
    transition: .3s;
    border-radius: 5px;
  }
  .icon-menu span:before{
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .icon-menu span{
    top: 20px;
  }
  .icon-menu span:after{
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .icon-menu span.active:before{
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .icon-menu span.active:after{
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .icon-menu span.active{
    background: rgba(255, 255, 255, 0); 
  }
}



/* Timer */
.timer {
  padding: 0 15px;
  margin: 190px 0 0 297px;
  display: flex;
  flex-direction: column;   
}
.timer-title {
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 64px;
  line-height: 140%;  
}

  .countdown {
  float: left;
  color: #fff;
  font-weight: bold;
}
  .countdown-number {
  border-radius: 3px;
  background: #121212;
  display: inline-block;
}
.countdown-number:nth-child(1),
.countdown-number:nth-child(2),
.countdown-number:nth-child(3) {
  margin-right: 30px;
}
.countdown-time {
  font-size: 36px;
  line-height: 140%;
  padding: 20px 30px 0 30px;
  display: inline-block;
}
.countdown-text {
  display: block;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 20px;
  font-size: 16px;
  text-align: center;
}
.deadline-message{
  display: none;
  font-size: 24px;
  font-style: italic;
}
.visible{
  display: block;
}
.hidden{
  display: none;
}

@media (max-width:1326px) {
  .timer {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 90px;
  }
  .main-screen {
    max-height: 860px ;
  }
}
@media (max-width:600px) {
  .timer-title {
    font-size: 44px;
}
  .countdown-number:nth-child(1),
  .countdown-number:nth-child(2),
  .countdown-number:nth-child(3) {
    margin-right: 15px;
  }
}
@media (max-width:490px) {
  .countdown-number:nth-child(1),
  .countdown-number:nth-child(2),
  .countdown-number:nth-child(3) {
    margin-right: 3px;
}
}
@media (max-width:454px) {
  .timer {
    max-width: 300px;
    margin-top: 20px;
  }
    .timer-title {
      font-size: 36px;
  }
    .countdown-number {
      column-count: 2;
      text-align: center;
      width: 200px;
    }
}



/* Course */
.course {
  background-color: #121212;
  
}
.course-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course-btn {
  width: 10%;
  min-width: 140px;
}
.course-btn button {
  font-size: 15px;
  border-radius: 50px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  line-height: 150%;
  box-sizing: border-box;
}
.course-member {
  padding: 0 81px;
  display: flex;
  width: 20%;
  align-items: center;
}
.member-list {
  list-style-type: none;
  color: #fff;
  opacity: 0.4;
  padding: 0;
  margin-right: 30px;
}
.member-list li:nth-child(1) {
  margin-bottom: 10px;
}
.count-list {
  list-style-type: none;
  color: #fff;
  padding: 0;
}
.count-list li:nth-child(1) {
  margin-bottom: 10px;
}
.course-money {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.got-stud {
  padding: 0;
}
.got-stud__list {
  display: flex;
  list-style-type: none;
  color: #fff;
  padding: 0;
}
.got-stud__list li:nth-child(1) {
  opacity: 0.4;
  padding-right: 30px;
}
.summ__list {
  justify-content: space-between;
  display: flex;
  list-style-type: none;
  color: #fff;
  opacity: 0.4;
  padding: 0;
}



/* CONTANT (CONTAINER) */
/* JOB  */
.block {
  padding: 0;
  margin-top: 200px;
}
.job {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.job-pc {
  width: 40%;
  max-width: 526px;
  padding-right: 20px;
}
.job-pc img {
  width: 100%;
  height: auto;
}
.job-title {
  max-width: 636px;
  align-items: center;
}
.job-title p:nth-child(1) {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;  
  margin: 0;
}
.job-title p:nth-child(2) {
  font-size: 16px;
  line-height: 160%;
}



/* START */
.start-title {
  display: flex;
}
.start-title p {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;  
  margin: 0;
 }
 .start-title__img {
   margin: 0 20px 0 0;
 }
 .start-title__img p { 
  margin: 0;
 }
.start-text {
  max-width: 411px;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  margin: 50px 0 80px 0;
}
.percent {
  width: 100%;
  align-items: center;
}
.percent-number {
  width: 100%;
  display: flex;
}
.percent-number p {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  margin: 0;
}
.percent-number p:nth-child(1) {
  flex: 1;
}
.percent-number p:nth-child(2) {
  flex: 1;
}
.percent-number p:nth-child(3) {
  flex: 1;
}
.percent-number p:nth-child(4) {
  flex: 1;
}
.percent-block {
  display: flex;
  width: 100%;
  max-width: 1326px;
  align-items: center;
  margin: 20px 0 35px 0;
}
.percent-block img {
  width: 100%;
  height: auto;
}
.percent-text {
  font-size: 14px;
  line-height: 160%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  margin: 0;
}
.percent-text p{ 
  padding: 0 5px;
}

@media (max-width:524px){
  .percent {
    align-items: flex-start;
    display: flex;
  }
  .percent-number{
    text-align: center;
    height: 720px;
    max-width: 15%;
    flex-direction: column;
  }
  .percent-number p{ 
    font-size: 18px;
  } 
  .percent-block {
    max-width: 10%;
    align-items: center;
    margin: 100px 0 0 90px;
    transform: rotate(90deg);
  }
  .percent-block img {
    height: 80px;
    width: 710px;
    margin: 100px 0 0 -160px;
  }
  .percent-text {
    float: right;
    max-width:75%;
    display: flex;
    flex-direction: column;
  }
}


/* PROFESSION (SKILLS) */
.prof-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin: 0 0 120px 0;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.skills__block { 
  max-width: 358px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}
.skills-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin: 60px 0 30px 0;
}
.skills-text {
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
}



/* BRANDS PARTNERS */

.brand {
  width: 100%;
}
.brand-title {
  display: flex;
  margin: 0 0 120px 0;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  flex-wrap: wrap;
}
.brand-title p{
  margin: 0;
}
.brand-title__img {
  margin: 0 50px 0 0;
}
.brand-icons {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.brand-icons img {
  margin: 29px 40px 29px 40px;
}



/* TEACHERS */

.teachers {
  width: 100%;
}
.teachers-title {
  display: flex;
  flex-wrap: wrap;
}
.teachers p{
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin: 0;
}
.teachers-img {
  margin: 0 38px 0 0;
}
.person {
  display: flex;
  flex-wrap: wrap;
  margin: 113px 0 0px 0;
  justify-content: space-around;
  text-align: center;
}
.person__block {
  align-items: center;
}
.person-img {
  margin: 0 0 40px 0;
}
.person-name p{
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin: 0;
}
.person-skill p{
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
  margin: 15px 0 30px 0;
}
.person__block button {
  color: #fff;
  background-color: transparent;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  transition: .6s ease;
}
.person__block button:hover {
  background-color: #7C6AFA
}



/* FOOTER */
footer {
  text-align: center;
  max-width: 577px;
  padding: 0 15px;
  margin: 200px auto 0px auto ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-title p{
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin: 0;
}
.footer-text {
  max-width: 411px;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  margin: 30px 0 60px 0;
}

.mail {
  margin-left: 20px;
  max-width: 492px;
  width: 100%;
  display: flex;
}
.mail input {
  font-size: 14px;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  width: 100%;
  max-width: 353px;
  box-sizing: border-box;
  opacity: 0.5;
  color: #000000;
  outline: none;
}
input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 13px;
}
.mail button {
  font-size: 15px;
  border-radius: 50px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  line-height: 150%;
  box-sizing: border-box;
  z-index: 10;
  margin-left: -40px;
  transition: all .5s ease-out;
}
.mail button:hover {
  text-align: center;
  padding: 10px 50px;
  margin-left: -60px;
  transition: all .5s ease-in;
}

.footer-social {
  margin: 40px 30px 50px 0;
}
.social {
  list-style-type: none;
  display: flex;
}
.social-item {
  margin-right: 20px;    
}
.social-link {
  display: block;
  background-color: #C89AFC;
  transition: 0.5s ease;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.social-link:hover {
  background-color:#7C6AFA ;
}
.social-vk {
  background-image: url(../img/vk.png);
}
.social-utube {
  background-image: url(../img/utube.svg);
}
.social-fb {
  background-image: url(../img/fb.svg);
}
.social-inst {
  background-image: url(../img/inst.svg);
}



/* PopUp Login */

.popup-login {
  background-color: rgba(41, 41, 41, 0.975);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-body {
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  width: 80%;
  height: 50%;
  min-height: 330px;
  background-color: rgb(49, 47, 58);
  border-radius: 75px;
}
.login-title { 
  display: inline-flex;
  padding: 8px 0px;
  width: 100%;
  font-size: 24px;
  justify-content: space-around;
}
.login-title p{ 
  margin: 0;
  padding-bottom: 30px;
}
.close {
  background-image: url("../img/close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  float: right;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  margin-top: 30px;
  margin-right: 30px;
}
.close:hover {
  cursor: pointer;
}
.login-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-data input{
  max-width: 250px;
  min-width: 150px;
  width: 50%;
}
.login-data input:nth-child(1) {
  margin-bottom: 20px;
}
.sign {
  align-items: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.sign button {
  margin-bottom: 20px;
  border: none;
  border-radius: 40px;
  text-align: center;
  max-width: 250px;
  width: 50%;
  padding: 10px 20px;
}
.sign a {
  text-decoration: none;
  color:seashell;
}
.modal-open {
  overflow: hidden;
}



/* MEDIA */

@media (max-width:1326px){
  .container {
    max-width:970px;
  }
  .block {
    margin-top: 100px;
  }
  .job {
    justify-content: space-around;
  }
  .job-pc{
    width: 40%;
  }
  .job-title {
    text-align: center;
  }
  .skills {
    justify-content: space-around;
  }
  .skills-title p {
    margin: 0;
  }
  .brand-title {
    margin-bottom: 60px;
  }
  .course-block {
    justify-content: space-around;
  }
  .course-member {
    padding: 0px;
    width: 40%;
  }
  .course-money {
    width: 100%;
  }
}

@media (max-width:992px){
  .container {
    max-width:710px;
  }
  .skills-title {
    margin: 0;
  }
  .skills-img {
    margin-top: 50px;
  }
  .prof-title {
    margin-bottom: 70px;
  }
  .teachers {
    max-width: 680px;
  }
}

@media (max-width:725px){
  .container {
    max-width: 450px;
  }
  .main-screen {
    max-height: 730px;
  }
  .course-member ul {
    justify-content: space-around;
  }
  .person__block {
    margin-bottom: 60px;
  }
  footer {
    margin-top: 100px;
  }
  .job-title h2 {
    font-size: 40px;
  }
  .start-title p{
    font-size: 32px;
  }
  .prof-title{
    font-size: 32px;
  }
  .brand-title p{
    font-size: 32px;
  } 
  .teachers-title p{
    font-size: 32px;
  } 
  .footer-title p {
    font-size: 32px;
  }
}